version: '3.1'

services:
  backend:
    build: .
    expose:
      - "4040"
    environment:
      APP_API_ADDRESS: 0.0.0.0
      APP_API_PORT: 4040
      APP_REDIS: redis://redis/0
      APP_GRABBER_PATH: /mnt/files
    volumes:
      - ./ruz_files:/mnt/files
    depends_on:
      - redis

  frontend:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

  redis:
    image: redis
    command: ["redis-server", "--appendonly", "yes"]
    expose:
      - "6379"
